@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --header-height: 3.5rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --first-color: hsl(33, 90%, 65%);
  --second-color: hsl(355, 90%, 55%);
  --third-color: hsl(198, 90%, 65%);
  --dark-color: #101010;
  --dark-color-hover: #333333;
  --dark-color-light: #8a8a8a;
  --dark-color-lighten: #f2f2f2;
  --white-color: #fff;

  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.25rem;
  --bigger-font-size: 1.5rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.813rem;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-fixed: 100;

  --rotate-img: rotate(-30deg);
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*=============== REUSABLE CSS CLASSES =============== */
.main {
  overflow: hidden;
}

.grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.section {
  padding: 5rem 0 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
  text-align: center;
  letter-spacing: 0.1rem;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--dark-color-lighten);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__logo {
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__shop {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show Menu */
.show {
  left: 0;
}

/* Active Link */
.active {
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 45%;
  width: 4px;
  height: 4px;
  background-color: var(--dark-color);
  border-radius: 50%;
}

/* Change Color Header */
.scroll-header {
  /* background-color: var(--dark-color-lighten); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*=============== HOME ===============*/
.home__container,
.home__data,
.home__article,
.home__images,
.home__footer {
  display: grid;
}

.home__container {
  padding-block: 4rem 2.5rem;
  row-gap: 1.5rem;
  background-color: var(--dark-color-lighten);
}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--smaller-font-size);
}

.home__titles {
  margin-block: 0.5rem 2rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  transform: translateY(10rem);
  opacity: 0;
  transition: transform 0.3s 0.2s, opacity 0.3s;
}

.home__button,
.home__social,
.home__controls,
.home__navigation {
  display: flex;
}

.home__button {
  justify-self: center;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--dark-color);
}

.home__button i {
  font-weight: initial;
  font-size: 1.25rem;
  transition: transform 0.4s;
}

.home__button:hover i {
  transform: translateX(0.5rem);
}

.home__article {
  width: 270px;
  place-items: center;
  padding-block: 1rem;
}

.home__card {
  position: relative;
}

.home__circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.home__circle-1 {
  background-color: var(--first-color);
}

.home__circle-2 {
  background-color: var(--second-color);
}

.home__circle-3 {
  background-color: var(--third-color);
}

.home__img-1,
.home__img-2 {
  position: absolute;
  width: 200px;
  filter: drop-shadow(0 20px 12px hsla(0, 0%, 0%, 0.4));
  transition: transform 0.7s 0.1s cubic-bezier(0.2, 0.9, 0.3, 1.3), opacity 0.3s;
}

.home__img-1 {
  bottom: 7rem;
  left: -1.5rem;
  transform: translateX(-5rem) rotate(60deg);
  opacity: 0;
}

.home__img-2 {
  bottom: 3rem;
  right: -1.5rem;
  transform: translateX(5rem) rotate(60deg);
  opacity: 0;
}

.home__sneaker-3,
.home__sneaker-4 {
  width: 250px;
}

.home__sneaker-3 {
  bottom: 6rem;
  left: -3rem;
}

.home__sneaker-4 {
  bottom: 2rem;
  right: -3rem;
}

.home__sneaker-5 {
  left: -0.5rem;
}

.home__sneaker-6 {
  right: -0.5rem;
}

.home__footer {
  row-gap: 3rem;
}

.home__social {
  justify-content: center;
  column-gap: 1rem;
}

.home__social-link {
  color: var(--dark-color);
  font-size: 1.5rem;
}

.home__social-link:hover {
  color: var(--dark-color-hover);
}

.home__controls {
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

/* Swiper Class */
.swiper {
  margin-inline: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-pagination {
  position: initial;
  font-weight: var(--font-semi-bold);
}

.swiper-button-prev,
.swiper-button-next {
  position: initial;
  width: initial;
  height: initial;
  font-size: 1.75rem;
  padding: 3px 20px;
}

.swiper-button-prev {
  background-color: black;
  color: white;
}

.swiper-button-next {
  background-color: white;
  color: black;
}

/* Swiper Animation */
.swiper-slide-active .home__title {
  transform: translateY(0);
  opacity: 1;
}

.swiper-slide-active .home__circle {
  opacity: 1;
}

.swiper-slide-active .home__img-1 {
  transform: translateX(0) rotate(30deg);
  opacity: 1;
}

.swiper-slide-active .home__img-2 {
  transform: translateX(0) rotate(-40deg);
  opacity: 1;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-0.25rem);
  background-color: var(--dark-color-hover);
}

.button-light {
  display: inline-flex;
  color: var(--dark-color);
  font-weight: var(--font-bold);
  align-items: end;
}

.button-icon {
  transition: 0.3s;
  font-size: 1.5rem;
  margin-left: var(--mb-1);
}

.button-light:hover .button-icon {
  transform: translateX(0.25rem);
}

/*=============== FEATURED ===============*/
.featured__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sneaker {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  transition: 0.4s;
  overflow: hidden;
  /*Shop*/
}

.sneaker:hover {
  height: 100%;
  transform: translateY(-0.5rem);
}

.sneaker__sale {
  position: absolute;
  left: 0.5rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--h2-font-size);
  transform: rotate(-90deg);
  letter-spacing: 0.1rem;
}

.sneaker__img {
  width: 220px;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-6);
  transform: var(--rotate-img);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.sneaker__name,
.sneaker__preci {
  font-size: var(--h2-font-size);
  letter-spacing: 0.1rem;
  font-weight: var(--font-bold);
}

.sneaker__name {
  margin-bottom: var(--mb-1);
}

.sneaker__preci {
  margin-bottom: var(--mb-3);
}

.sneaker__pages {
  margin-top: var(--mb-6);
}

.sneaker__pag {
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark-color);
  cursor: pointer;
}

.sneaker__pag:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

/*=============== COLLECTION ===============*/
.collection__container {
  row-gap: 2rem;
  justify-content: center;
}

.collection__card {
  position: relative;
  display: flex;
  height: 328px;
  background-color: var(--dark-color-lighten);
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.collection__card:hover {
  transform: translateY(-0.5rem);
}

.collection__data {
  align-self: flex-end;
}

.collection__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
}

.collection__name {
  font-size: var(--bigger-font-size);
  margin-bottom: 0.25rem;
}

.collection__description {
  margin-bottom: var(--mb-2);
}

/*=============== WOMEN SNEAKERS ===============*/
.women__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/*=============== OFFER ===============*/
.offer__container {
  grid-template-columns: 55% 45%;
  column-gap: 0;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  justify-content: center;
}

.offer__data {
  padding: 4rem 0 4rem 1.5rem;
}

.offer__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 0.25rem;
}

.offer__description {
  margin-bottom: var(--mb-3);
}

.offer__button {
  text-align: center;
}

.offer__img {
  width: 153px;
}

/*=============== NEW COLLECTION ===============*/
.new__container {
  row-gap: 2rem;
}

.new__mens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  padding: 2rem;
}

.new__mens-img {
  width: 276px;
  margin-bottom: var(--mb-3);
}

.new__title {
  font-size: var(--bigger-font-size);
  margin-bottom: 0.25rem;
}

.new__preci {
  display: block;
  margin-bottom: var(--mb-3);
}

.new__sneaker {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.new__sneaker-card {
  position: relative;
  padding: 3.5rem 1.5rem;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.new__sneaker-card:hover .new__sneaker-overlay {
  bottom: 0;
}

.new__sneaker-img {
  width: 220px;
}

.new__sneaker-overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(138, 138, 138, 0.3);
  transition: 0.3s;
}

/*=============== NEWSLETTER ===============*/
.newsletter__container {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 2rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.newsletter__title {
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-2);
}

.newsletter__description {
  margin-bottom: var(--mb-5);
}

.newsletter__subscribe {
  display: flex;
  column-gap: 0.5rem;
  background-color: var(--white-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.newsletter__input {
  outline: none;
  border: none;
  width: 90%;
  font-size: var(--normal-font-size);
}

.newsletter ::placeholder {
  color: var(--dark-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

/*=============== FOOTER ===============*/
.footer__container {
  /* display: inline ; */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__box {
  margin-bottom: var(--mb-4);
}

.footer__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-1);
}

.footer__link {
  display: block;
  width: max-content;
  margin-bottom: var(--mb-1);
  color: var(--dark-color);
  transition: color 0.3s;
}

.footer__link:hover {
  color: var(--dark-color-hover);
}

.footer__social {
  font-size: 1.5rem;
  margin-right: 1.25rem;
}

.footer__social:hover {
  color: var(--dark-color-hover);
}

.footer__copy {
  padding-top: 3rem;
  font-size: var(--smaller-font-size);
  color: var(--dark-color-light);
  text-align: center;
}

/* =============== BREAKPOINTS ===============*/
/* For Small Devices */
@media screen and (max-width: 330px) {
  .home__title {
    font-size: 1.8rem;
  }
  .home__circle {
    width: 220px;
    height: 220px;
  }
  .home__img-1,
  .home__img-2 {
    width: 160px;
  }
  .home__img-1 {
    bottom: 6rem;
    left: -1.15rem;
  }
  .home__img-2 {
    right: -1.25rem;
  }
  .home__sneaker-3,
  .home__sneaker-4 {
    width: 200px;
  }
  .home__sneaker-3 {
    bottom: 5rem;
    left: -2rem;
  }
  .home__sneaker-4 {
    bottom: 1.5rem;
    right: -2rem;
  }
  .home__sneaker-5 {
    bottom: 6rem;
    left: -0.75rem;
  }
  .home__sneaker-6 {
    bottom: 2rem;
    right: -0.75rem;
  }
}

/* For Media Devices */
@media screen and (min-width: 576px) {
  .home__footer {
    margin-inline: 1.5rem;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .home__controls {
    flex-direction: row;
    column-gap: 2rem;
  }
  .home__navigation {
    order: -1;
    align-self: flex-end;
  }

  .collection__container {
    grid-template-columns: 415px;
  }
  .collection__img {
    width: 260px;
  }

  .offer__container {
    grid-template-columns: max-content max-content;
    column-gap: 3rem;
  }
  .offer__data {
    text-align: center;
  }

  .new__mens {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding: 8rem 0 2rem;
  }
  .section-title::after {
    width: 76px;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .newsletter__container {
    /* grid-template-columns: max-content max-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }
  .newsletter__description {
    margin-bottom: 0;
  }
  .newsletter__subscribe {
    width: 360px;
    height: max-content;
  }
}

/* For Large Devices */
@media screen and (min-width: 1024px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }

  .collection__container {
    grid-template-columns: repeat(2, 415px);
  }

  .new__container {
    grid-template-columns: max-content 1fr;
  }
  .new__mens {
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }
  .new__mens-img {
    margin-bottom: var(--mb-6);
  }
}

@media screen and (min-width: 1150px) {
  .home__container {
    grid-template-columns: 450px 600px;
    grid-template-rows: 470px;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 6rem;
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
  .home__footer {
    grid-column: 1/3;
    margin-inline: 0;
  }
  .home__data {
    text-align: initial;
  }
  .home__subtitle {
    font-size: var(--normal-font-size);
  }
  .home__titles {
    margin-bottom: 3rem;
  }
  .home__button {
    justify-self: flex-start;
    z-index: 2;
  }
  .home__images {
    position: absolute;
    top: 9rem;
  }
  .home__card {
    transform: translateX(15rem);
  }
  .home__circle {
    width: 570px;
    height: 570px;
  }
  .home__img-1,
  .home__img-2 {
    width: 400px;
  }
  .home__img-1 {
    bottom: 16rem;
    left: -2.25rem;
    transform: translateX(-25rem) rotate(60deg);
  }
  .home__img-2 {
    bottom: 8rem;
    right: -2.25rem;
    transform: translateX(25rem) rotate(60deg);
  }
  .home__sneaker-3,
  .home__sneaker-4 {
    width: 500px;
  }
  .home__sneaker-3 {
    bottom: 14rem;
    left: -4.5rem;
  }
  .home__sneaker-4 {
    bottom: 5rem;
    right: -4.5rem;
  }
  .home__sneaker-5 {
    bottom: 14rem;
    left: -1.5rem;
  }
  .home__sneaker-6 {
    bottom: 6rem;
    right: -1.5rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-size: 1.5rem;
  }
}
